@import "tailwindcss";

@theme {
  /* base colors */
  --color-purple: #a729f5;
  --color-navy: #313e51;
  --color-light-navy: #3b4d66;
  --color-gray-navy: #626c7f;
  --color-light-bluish: #abc1e1;
  --color-pure-white: #f4f6fa;
  --color-white: #ffffff;
  --color-green: #26d782;
  --color-red: #ee5454;

  /* icon colors */
  --color-icon-green: #2fd887;
  --color-icon-orange: #ff7e35;
  --color-blue: #306aff;

  --color-light-purple: #f6e7ff;
  --color-light-blue: #ebf0ff;
  --color-light-green: #e0fdef;
  --color-light-orange: #fff1e9;

  /* custom font */
  --font-display: "Rubik", "sans-serif";
}

/* Rubik Regular */
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/static/Rubik-Regular.ttf") format("truetype");
}

/* Rubik Medium */
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/static/Rubik-Medium.ttf") format("truetype");
}

/* Rubik Italic */
@font-face {
  font-family: Rubik;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/static/Rubik-Italic.ttf") format("truetype");
}

body {
  font-family: "Rubik";
}

/* Progress bar for Chroome and Safari */
progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 1rem;
}

progress::-webkit-progress-value {
  background-color: #a729f5;
  border-radius: 1rem;
}

/* for firefox browser */
progress::-moz-progress-bar {
  background-color: #ffffff;
  border-radius: 1rem;
}
