@import "tailwindcss";

@theme {
  /* base colors */
  --color-purple: #a729f5;
  --color-navy: #313e51;
  --color-light-navy: #3b4d66;
  --color-gray-navy: #626c7f;
  --color-light-bluish: #abc1e1;
  --color-pure-white: #f4f6fa;
  --color-white: #ffffff;
  --color-green: #26d782;
  --color-red: #ee5454;

  /* icon colors */
  --color-icon-green: #2fd887;
  --color-icon-orange: #ff7e35;
  --color-blue: #306aff;
}
